<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container-fluid">
    <img src="assets/logo.png" alt="logo" style="width: 250px; height: 100px;" routerLink="/">
    <div class="d-flex">
      <ng-container *ngIf="!authService.isAuthenticated()">
        <button (click)="login()" class="btn btn-primary" style="margin-right: 10%; width: 200px; background-color: #85BC21; color: #fff; border: none;">
          <i class="fas fa-sign-in-alt"></i>
          Acceder
        </button>
      </ng-container>
      <!-- <ng-container *ngIf="authService.isAuthenticated()">
        <button (click)="logout()" class="btn btn-outline-secondary">
          Cerrar Sesión
        </button>
      </ng-container> -->
    </div>
  </div>
</nav> 